<!DOCTYPE html>
<html>
  <head>
    <title>Harmony</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %><%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('harmony-icon.png')%>
    <script type="text/javascript">
      window.discordBackground = "<%= image_url("discord-background.jpg") %>"
      window.discordChatBackground1 = "<%= image_url("discord-chat-background-1.png") %>"
      window.discordChatBackground2 = "<%= image_url("discord-chat-background-2.png") %>"
      window.discordIcon = "<%= image_url("discord-icon.png") %>"
      window.discordOptions1 = "<%= image_url("discord-options-background-1.png") %>"
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
