<!DOCTYPE html>
<html>
  <head>
    <title>Harmony</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %><%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('harmony-icon.png')%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Rubik|Tomorrow&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.discordBackground = "<%= image_url("discord-background.jpg") %>"
      window.discordIcon = "<%= image_url("discord-icon.png") %>"
      window.discordChat1 = "<%= image_url("discord-chat-background-1.png") %>"
      window.discordChat2 = "<%= image_url("discord-chat-background-2.png") %>"
      window.discordOption1 = "<%= image_url("discord-options-background-1.png") %>"
      window.discordOption2 = "<%= image_url("discord-options-background-2.png") %>"
      window.harmonyIcon = "<%= image_url("harmony-icon.png") %>"
      window.wumpus = "<%= image_url("wumpus.jpg") %>"
      window.createIcon = "<%= image_url("create-icon.png") %>"
      window.joinIcon = "<%= image_url("join-icon.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
